body {
    font-family: Segoe UI, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2)
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0
}

button {
    background: #1e3c72;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    margin-right: 10px
}

table {
    width: 100%;
    border-collapse: collapse
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center
}

th {
    background: #1e3c72;
    color: #fff
}

.logo {
    height: 60px;
    display: block;
    margin: auto
}

@media(max-width:600px) {
    .card {
        padding: 15px
    }
}

#errorMessage{
    color:red;
    font-weight:bold;
    margin-bottom:10px;
}